<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<br/>
<h1 align="center">People</h1>
<hr/>
<br/>
<br/>
<h2 align="center"><a href="/EJournal/people/new">Add a new Person</a></h2>
<br/>
<div th:each="participant : ${people}">
    <h3 align="center"><a th:href="@{/EJournal/people/{id}(id=${participant.getCardID()})}"
           th:text="${participant.getFullName() + ', ' + participant.getPhone()}">user</a></h3>
</div>
</body>
</html>